body{
  font-family: Helvetica, "Sans-serif";
}

.server{
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid #999;
  padding: 3px;
  border-radius: 4px;
}

#header{
  font-family: Helvetica, "Sans-serif";
  text-align: center;
  margin: 0 auto;
  min-width: 50%;
}

.btn{
  border: 1px solid transparent;
  padding: 12px 10px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, rgba(58,120,255,1) 0%,rgba(45,171,255,1) 100%);
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  margin: 5px;
}

.btn:hover{
  border: 1px solid #244A9E;
  background-image: linear-gradient(to bottom, rgba(36, 74, 158,1) 0%,rgba(45,171,255,1) 100%);
}

#seller, #buyer{
  display: none;
}

.seller{
  width: 1100px;
  margin: 10px auto;
}

.seller__step1,
.seller__step3{
  display: flex;
  min-height: 120px;
}

.seller__step2,
.seller__step4{
  min-height: 40px;
}

.seller input[type="text"]{
  display: block;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #999;
  height: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}

.seller__step1-to-send{
  padding: 5px;
  border-radius: 4px;
  background: #CFCFCF;
  height: 40px;
  width: 814px;
  margin-left: 10px;
}

.seller__step3-to-send,
.seller__step5-to-send,
.seller__step5-input{
  padding: 5px;
  border-radius: 4px;
  background: #CFCFCF;
  max-height: 210px;
  margin-left: 10px;
}

.seller__step3-to-send{
  width: 814px;
}

.seller__step3-to-send textarea,
.seller__step5-to-send textarea,
.seller__step5-input textarea{
  width: 99%;
  min-height: 150px;
  font-size: 16px;
}


.seller__step3-btn{
  background-image: none;
  background: #66CD00; 
}

.seller__step3-btn:hover{
  background-image: none;
  background: #458B00; 
}